　　<div class="col-md-8 col-md-offset-2">
　　  <h1>Timeline</h1><br>
　　  
　　  <%= link_to "all", root_url({tag: 'all'}) %> |
      
      <a class="btn btn-info">All</a>        
      
      <%= link_to "money", root_url({tag: 'money'}) %> |
      <%= link_to "job", root_url({tag: 'job'}) %> |
      <%= link_to "hobby", root_url({tag: 'hobby'}) %> |
      <%= link_to "love", root_url({tag: 'love'}) %> |
      <%= link_to "happy", root_url({tag: 'happy'}) %> |

      <%= render 'shared/feed' %>
    </div> 
  </div>