<% if logged_in? %>
  <% if micropost.like_user(current_user.id) %>
    <%=  form_for(micropost, :url => "/microposts/#{micropost.id}/likes", :method => :delete, :remote => true, :id => "like-button") do %>
      <%= button_tag do %>
        <%= image_tag("heart_red.png") %>
        <span>
          <%= micropost.likes.count %>
        </span>
      <% end %>
    <% end %>
  <% else %>
    <%=  form_for(micropost, :url => "/microposts/#{micropost.id}/likes", :method => :post, :remote => true, :id => "like-button") do %>
      <%= button_tag do %>
          <%= image_tag("heart_gray.png") %>
          <span>
            <%= micropost.likes.count %>
          </span>
        <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag("heart_gray.png") %>
    <span>
      <%= micropost.likes.count %>
    </span>
<% end %>