<div class="row">
  
  <div class="col-md-8 col-md-offset-2">
    
<% if @user.microposts.any? %>

    <h1 class="text-center">My Page</h1> 
  <!--<aside class="col-md-8">-->
  <!--  <section class="user_info">-->
  <div class="row" style="padding:0; margin:0">
  <h3 class="padding-underline">Profile</h3>
  <%= gravatar_for(@user, size: 50) %>
  <%= @user.name %>
  </div>
  <!--  </section>-->
  <!--</aside>-->
  <br>
<h3>Post <font size="3">全<%= @user.microposts.count %>件</font></h3>
      <ol class="microposts">
<%= render @microposts %>
      </ol>
    
<% end %>

  </div>
 
 <div class="col-md-8 col-md-offset-2">
    
<h3>Like <font size="3">全<%= @like_microposts.count %>件</font></h3>
<% @like_microposts.each do |like_post| %>
<ol class="microposts">
<%= render like_post %>
  
<% end %>
  </div> 
</div>

</div>