<%= form_for(@micropost) do |f| %>

  
<%= render 'shared/error_messages', object: f.object %>

  <div class="field">

<%= f.text_area :content, placeholder: "Show your pride...!" %>

  </div>

<div class="field">
  <%= select :micropost, :tag, ["all", "money", "job", "hobby", "love", "happy"]  %>
</div>

<%= f.submit "Post", class: "btn btn-primary" %>

<% end %>