<%= form_for(@micropost) do |f| %>

  
<%= render 'shared/error_messages', object: f.object %>

  <div class="field" style="width:53%; margin:auto">

<%= f.text_area :content, placeholder: "Show your pride...!" %>

  </div>

<div class="field" style="width:53%; margin:auto">
  <%= select :micropost, :tag, ["all", "money", "job", "hobby", "love", "happy"]  %>
  ※投稿テーマを選んでね。
</div>

<div class="field" style="width:53%; margin:auto">
<%= f.submit "Post", class: "btn btn-primary"%>
</div>
<% end %>