<div class="col-md-8 col-md-offset-3">
　　  <h1>Recommend　　　　　</h1>

<% @microposts.each do |micropost| %>
<li id="micropost-<%= micropost.id %>">

<ol class="microposts">

<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>

  <span class="user">
    <% if micropost.user == current_user %>
      <%= current_user.name %>
    <% else %>
      匿名
    <% end %>
  </span>
  <span class="content">
<%= micropost.content %>
  </span>
  <span class="timestamp">
<%= time_ago_in_words(micropost.created_at) %>
 ago.
 
 <% if current_user == micropost.user %>
      
<%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
 <% end %>
  </span>
  
  <span class="like-buttons_<%= micropost.id %>">
  <%= render "likes/like", micropost: micropost  %>
  </span>
</li>
<% end %>
</div>